@import url('https://fonts.googleapis.com/css?family=Work+Sans');

.header {
	position: relative;
	background-image: url(‘../../img/header-bg.png’);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 700px;
}

.leftText {
	margin: 5rem 0 11rem 20rem;
	font-family: ‘Work Sans’, sans-serif;
	font-weight: 300;
}

.rightText {
	margin: 10rem 0 4rem 6rem;
	font-weight: 300;
}

.navLogo {
	max-width: 160px;
	padding-left: 20%;
}

.logo {
	position: absolute;
	top: 5rem;
	width: 17rem;
	left: 50.75%;
	transform: translateX(-50%);
}

.navWrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1200px;
	padding: 2rem;
}

.nav {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
	color: #111126;
	font-size: 18.5px;
}

.menu {
	list-style: none;
	padding: 0;
	display: flex;
	margin: 0;
}

.circle {
	z-index: 3;
	width: 54px;
  height: 54px;
  background-color: #ffffff;
	box-shadow: 0px 10px 20px 0 rgba(129, 148, 164, 0.2);
	position: absolute;
	bottom: 8rem;
	left: 50%;
	right: 50%;
	transform: translateX(-50%);
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.item {
	margin-right: 1rem;
	color: #111126;
	font-weight: 300;
	cursor: pointer;
}

.texts {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(12, 1fr);
}

.launch {
	max-width: 200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 2px solid #121329;
	padding: .3rem .4rem;
	cursor: pointer;
	grid-column-start: 2;
	grid-row: 10;
	margin-left: 8rem;
}

.inBanking {
	grid-row: 3;
	font-size: 21px;
	color: #fff;
	padding-left: 20%;
	font-weight: 300;
}

.inCrypto {
	grid-row: 4;
	font-size: 21px;
	color: #fff;
	padding-left: 25%;
	font-weight: 300;
}

.mission {
	grid-column-start: 2;
	grid-row: 5;
	padding: 0 2rem 0 17%;
}

.diy {
	grid-column-start: 2;
	grid-row: 7;
	font-weight: 600;
	font-size: 28.5px;
	padding: 0 2rem 0 16%;
}

.komodo {
	grid-column-start: 2;
	grid-row: 8;
	font-weight: 300;
	padding: 0 2rem 0 16%;
}

.launchText {
	font-size: 22.5px;
	font-weight: 600;
}

.mobileTexts {
	display: none;
}

.diyMobile {
	font-size: 28px;
	margin-top: 1rem;
	grid-column: 1 / 3;
	text-align: center;
}

.komodoMobile {
	grid-column: 1 / 3;
	margin-top: 1rem;
	text-align: center;
	padding: 0 1rem;
}

.launchMobile {
	grid-column: 1 / 3;
	text-align: center;
	background: #121329;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	font-size: 20px;
	padding: 1rem;
	font-weight: 600;
	max-width: 300px;
	margin: 0 auto;
	border: none;
	margin-top: 3rem;
}

/* Pseudo Selectors */
.item:last-child {
	margin: 0;
}

/* Media Queries */

/* Tablet */
@media (max-width: 956px) {
	.header {
		min-height: 240px;
		background-position-y: -135px;
	}
	.mobileTexts {
		display: grid;
		grid-template-columns: 1fr 1fr;
		margin-top: 11rem;
	}
	.diyMobile {
    margin-top: 4rem;
	}
	.headline {
		margin-top: 19rem;
    font-size: 18px;
		color: white;
		padding: 0 2rem;
		text-align: center;
	}
	.rightHeadline {
		margin-left: 2rem;
	}
	.navWrapper {
		padding: .5rem 2rem;
	}
	.circle {
		display: none;
	}
	.logo {
		width: 11rem;
		bottom: 20rem;
	}
	.texts {
		display: none;
	}
	.diy {
		text-align: center;
		color: #121329;
		margin-top: 5rem;
		font-weight: 600;
		padding: 0;
	}
	.komodo {
		color: #121329;
		font-weight: 300;
		font-size: 16px;
		text-align: center;
		padding: 0;
	}
	.mission {
		text-align: center;
		font-size: 16px;
		font-weight: 300;
		color: #121329;
		padding: 0;
	}
	.launchButton {
		background: #121329;
		border-radius: 4px;
		color: #fff;
		cursor: pointer;
		font-size: 20px;
		padding: 1rem;
		font-weight: 600;
		display: block;
		margin: 2rem auto 0 auto;
	}
}

/* Phone */
@media(max-width: 480px) {
	.navWrapper {
		display: none;
	}
	.header {
		background-position-y: -180px;
	}
	.mobileTexts {
		margin: 0;
	}
	.diyMobile {
		margin-top: 4rem;
    font-size: 22px;
	}
	.inBankingMobile {
		margin-top: 13rem;
		font-size: 22px;
	}
	.inCryptoMobile {
		margin-top: 13rem;
		font-size: 22px;
	}
	.logo {
		width: 7rem;
	}
}


@media(max-width: 750px) {
	.nav {
		display: none;
	}
}
